body {
    font-family: 'Avenir Next', sans-serif;
}

.grid__col-6 {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-column-gap: 39px;
}

.grid__col-3 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.grid__gap-20 {
    grid-column-gap: 20px;
}

.danger-btn {
    background-color: #B80505;
}

.justify-align {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 31px;
}

.dishes {
    min-height: 100vh;
    width: 100%;
    background: #FEFBFB;
}

.content-item {
    padding: 29px 39px 13px;
    border-bottom:  1px solid #E5E5E5;
}

.vertical-central {
    text-align: center;
    justify-content: center;
}

.content-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 6px;
}

.content__btn {
    padding: 5px 29px 6px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.dishes__left-side {
    background: rgba(196, 196, 196, 0.5);
    max-height: 31px;
}

.dishes__bottom-btn {
    background: #04932C;
}

.content__price {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.content__minus {
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    background: #04932C;
    border: none;
}

.content__count {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000
}

.content__plus {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    background: #04932C;
    border: none;
}

.list_btn {
    padding: 8px 19px;
    border: none;
    background: #E5E5E5;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    max-height: 31px;
} 