*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Avenir Next", sans-serif;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

.container {
    padding: 0 54px 0 62px;
}

.grid__col-6{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid__col-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid__col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.waiter-header{
    height: 48px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    display: flex;
    align-items: center;
}

.waiter-header__back-arrow{
    padding-left: 13px;
}

.waiter-header__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    padding-left: 19px;
}

.d-flex{
    display: flex;
}

.admin__top-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    padding-right: 120px;
}

.admin__top-menu__btn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 15px;
}

.admin__top-menu__btn svg {
    width: 23px;
    height: 24px;
    fill: #766e6a;
}

.section__title {
    font-weight: 500;
    font-size: 30px;
    color: #000000;
}

.full-report-btn{
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 20px auto 0;
    cursor: pointer;
}

.footer {
    background-color: white;
}

.footer__container {
    height: 70px;
    margin: 0 70px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__menu a {
    font-size: 18px;
    color: #000000;
    margin-right: 33px;
}

.footer__copyright {
    font-size: 18px;
    color: #000000;
}