.notify-popup{
    position: relative;
    width: 700px;
    height: 250px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
}

.notify-info{
    padding-bottom: 15px;
}

.close{
    position: absolute;
    right: 16px;
    top: 27px;
}