.order-list__btn{
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-list__add-order-btn{
    width: 288px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #B80505;
    border-radius: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.order-list__add-order-btn:hover{
    background-color: #dd7c7c;
}

.order-list__add-order-btn svg{
    margin-left: 25px;
}

.order-list__title{
    padding-top: 18px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.order-list__order{
    display: flex;
    flex-wrap: wrap;
}

.order-list__order{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.order-list__order p{
    width: 50%;
}

.order-list__item{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.order-list__item-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    padding: 23px 0 23px 24px;
}

.order-list__item-status{
    padding-left: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    padding-top: 23px;
    text-transform: uppercase;
}

.status-success{
    color: #04932C;
}

.status-primary{
    color: #0357A5;
}

.status-danger{
    color: #B80505;
}