.tables{
    height: calc(100vh - 48px);
    display: flex;
}

.tables__container{
    margin: auto;
}

.tables__row{
    padding-top: 30px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.tables__title-btn{
    width: 100px;
    color: white;
    height: 60px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.tables__table-btn{
    cursor: pointer;
    outline: none;
    width: 100px;
    height: 90px;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #FFFEFE;
    border: none;
    border-radius: 10px;
}

.tables__active{
    background-color: #04932C;
}

.tables__free{
    background-color: #0357A5;
}

.tables__booked{
    background-color: #B80505;
}

.tables__all{
    display: flex;
    justify-content: center;
    padding-top: 37px;
}

.tables__all-btn{
    cursor: pointer;
    outline: none;
    padding: 20px 10px;
    margin-bottom: 30px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background: #04932C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}